{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Score</th>
            <th>Estimation</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.score | default(0)}}</td>
                <td>{{ project.estimation | default(0) }}</td>
                <td><a href="{{ path('project_process', {'id': project.id}) }}">process</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    {#<a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>#}
    {#{{ include('project/_delete_form.html.twig') }}#}
{% endblock %}
